.container 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

h1 
{
    margin-bottom: 20px;
}

ul
{
    list-style-type: none;
    padding: 0;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}

.header-left
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right
{
    display: flex;
    justify-content: flex-start;
}

.mined-field
{
    background-color: aquamarine;
    width: 100%;
    flex-grow: 1;
}

#btn-play
{
    padding-left: 20px;
    padding-right: 20px;
}

.footer
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 40px; 
    margin-top: 20px;
}

.grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cell
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border: 1px solid black;    
}

.clicked
{
    background-color: lightblue;
}
