.container 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

h1 
{
    margin-bottom: 20px;
}

ul
{
    list-style-type: none;
    padding: 0;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}